<div class="container-fluid">

    <div class="row">
        <div class="col-md-4">
            <h1>Kontakt</h1>

            <div class="row">

                <div class="col-md-6">
                    Hostel Pasłek <br/>
                    tel. +48 12 345 67 89 <br/>
                    kom. +48 123 456 780 <br/>
                    hostel@hostel.com <br/>

                    ul. Pasłecka 13 <br/>
                    Pasłek <br/>
                </div>

                <div class="col-md-6">
                    Nazwa i adres firmy: <br/>

                    Hostel XXX <br/>
                    12-345 Pasłęk <br/>
                    ul. Pasłęcka 13 <br/>

                    Numer konta: 123 455 123 <br/>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <h1>Lokalizacja</h1>

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d585.3500614188571!2d19.65664479999999!3d54.06664509999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46e2b03c1f52d743%3A0xf4c5eed261a9bcaf!2sJana+Henryka+D%C4%85browskiego+7%2C+14-400+Pas%C5%82%C4%99k!5e0!3m2!1spl!2spl!4v1436803653525"
                    width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>
