<div class="container-fluid">

    <div class="row">
        <div class="col-lg-4">
            <h1> {$ 'contact_contact' | translate $}</h1>

            <div class="row">

                <div class="col-lg-6">

                    <table class="table table-condensed">

                        <tr>
                            <td colspan="2">{$ 'contact_objectName' | translate $}</td>
                        </tr>
                        <tr>
                            <td>{$ 'contact_phone' | translate $}</td>
                            <td> +48 12 345 67 89</td>
                        </tr>
                        <tr>
                            <td>{$ 'contact_mobile' | translate $}</td>
                            <td> +48 123 456 780</td>
                        </tr>
                        <tr>
                            <td>{$ 'contact_mail' | translate $}</td>
                            <td> hostel@hostel.com</td>
                        </tr>
                        <tr>
                            <td>{$ 'contact_address' | translate $}</td>
                            <td> ul. Pasłecka 13</td>
                        </tr>
                    </table>
                </div>

                <div class="col-lg-6">

                    <table class="table table-condensed">

                        <tr>
                            <td colspan="2">{$ 'contact_nameAndAddress' | translate $}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Hostel XXX</td>
                        </tr>
                        <tr>
                            <td colspan="2">12-345 Pasłęk</td>
                        </tr>
                        <tr>
                            <td colspan="2">ul. Pasłęcka 13</td>
                        </tr>
                        <tr>
                            <td>{$ 'contact_accountNumber' | translate $}</td>
                            <td>123 455 123</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <h1>{$ 'contact_localization' | translate $}</h1>
            <!-- 16:9 aspect ratio -->
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d585.3500614188571!2d19.65664479999999!3d54.06664509999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46e2b03c1f52d743%3A0xf4c5eed261a9bcaf!2sJana+Henryka+D%C4%85browskiego+7%2C+14-400+Pas%C5%82%C4%99k!5e0!3m2!1spl!2spl!4v1436803653525"
                        frameborder="0"
                        allowfullscreen>

                </iframe>
            </div>
        </div>
    </div>
</div>
