<div class="container-fluid" ng-init="init()">

    <div class="row">
        <div class="col-lg-offset-2 col-lg-10">
            <h1>{$ 'gallery_gallery' | translate $}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="fotorama"
                 data-allowfullscreen="true"
                 data-fit="scaledown"
                 data-nav="thumbs"
                 data-width="100%"
                 data-ratio="1366/786">
                <img src="static/web/img/image1.jpg">
                <img src="static/web/img/image2.jpg">
                <img src="static/web/img/image3.jpg">
                <img src="static/web/img/image4.jpg">
                <img src="static/web/img/image5.jpg">
                <img src="static/web/img/image6.jpg">
            </div>
        </div>
    </div>
</div>
