<div class="container-fluid" ng-init="init()">

    <div class="row">
        <div class="col-lg-offset-2 col-lg-10">
            <h1>{$ 'gallery_gallery' | translate $}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="fotorama"
                 data-allowfullscreen="true"
                 data-fit="scaledown"
                 data-nav="thumbs"
                 data-width="100%"
                 data-loop="true"
                 data-keyboard="true"
                 data-ratio="1366/786">
                <img src="static/web/img/galeria1.jpg" data-thumb="static/web/img/galeria1_thumb.jpg">
                <img src="static/web/img/galeria2.jpg" data-thumb="static/web/img/galeria2_thumb.jpg">
                <img src="static/web/img/galeria3.jpg" data-thumb="static/web/img/galeria3_thumb.jpg">
                <img src="static/web/img/landing/landing1.jpg" data-thumb="static/web/img/landing/landing1_thumb.jpg">
                <img src="static/web/img/landing/landing2.jpg" data-thumb="static/web/img/landing/landing2_thumb.jpg">
                <img src="static/web/img/landing/landing3.jpg" data-thumb="static/web/img/landing/landing3_thumb.jpg">
                <img src="static/web/img/landing/landing4.jpg" data-thumb="static/web/img/landing/landing4_thumb.jpg">
                <img src="static/web/img/room2/pokoj_taras1.jpg" data-thumb="static/web/img/room2/pokoj_taras1_thumb.jpg">
                <img src="static/web/img/room2/pokoj_taras2.jpg" data-thumb="static/web/img/room2/pokoj_taras2_thumb.jpg">
                <img src="static/web/img/room2/pokoj_taras3.jpg" data-thumb="static/web/img/room2/pokoj_taras3_thumb.jpg">
                <img src="static/web/img/room2/pokoj_taras4.jpg" data-thumb="static/web/img/room2/pokoj_taras4_thumb.jpg">
                <img src="static/web/img/room2/pokoj_taras5.jpg" data-thumb="static/web/img/room2/pokoj_taras5_thumb.jpg">
                <img src="static/web/img/room3/pokoj_miasto1.jpg" data-thumb="static/web/img/room3/pokoj_miasto1_thumb.jpg">
                <img src="static/web/img/room3/pokoj_miasto2.jpg" data-thumb="static/web/img/room3/pokoj_miasto2_thumb.jpg">
                <img src="static/web/img/room3/pokoj_miasto3.jpg" data-thumb="static/web/img/room3/pokoj_miasto3_thumb.jpg">
                <img src="static/web/img/room3/pokoj_miasto4.jpg" data-thumb="static/web/img/room3/pokoj_miasto4_thumb.jpg">
                <img src="static/web/img/room3/pokoj_miasto5.jpg" data-thumb="static/web/img/room3/pokoj_miasto5_thumb.jpg">
                <img src="static/web/img/room4/pokoj_poddasze1.jpg" data-thumb="static/web/img/room4/pokoj_poddasze1_thumb.jpg">
                <img src="static/web/img/room4/pokoj_poddasze2.jpg" data-thumb="static/web/img/room4/pokoj_poddasze2_thumb.jpg">
                <img src="static/web/img/room4/pokoj_poddasze3.jpg" data-thumb="static/web/img/room4/pokoj_poddasze3_thumb.jpg">
                <img src="static/web/img/room4/pokoj_poddasze4.jpg" data-thumb="static/web/img/room4/pokoj_poddasze4_thumb.jpg">
                <img src="static/web/img/room4/pokoj_poddasze5.jpg" data-thumb="static/web/img/room4/pokoj_poddasze5_thumb.jpg">
                <img src="static/web/img/room_patio/pokoj_patio1.jpg" data-thumb="static/web/img/room_patio/pokoj_patio1_thumbnail.jpg">
                <img src="static/web/img/room_patio/pokoj_patio2.jpg" data-thumb="static/web/img/room_patio/pokoj_patio2_thumbnail.jpg">
                <img src="static/web/img/room_patio/pokoj_patio4.jpg" data-thumb="static/web/img/room_patio/pokoj_patio4_thumbnail.jpg">
                <img src="static/web/img/room_patio/pokoj_patio5.jpg" data-thumb="static/web/img/room_patio/pokoj_patio5_thumbnail.jpg">
                <img src="static/web/img/room_patio/pokoj_patio7.jpg" data-thumb="static/web/img/room_patio/pokoj_patio7_thumbnail.jpg">
            </div>
        </div>
    </div>
</div>
