<div class="container-fluid" ng-init="init()">

    <div class="landing-room-container">
        <div class="flex-item col-sm-6 col-md-3 landing-room" ng-repeat="room in rooms">
            <div class="thumbnail">
                <a href="#/room-prices/{$ room.no $}">
                    <img src="{$ room.landing_thumbnail $}">
                </a>

                <div class="caption">
                    <h3 class="landing-room-caption">{$ room.name $}</h3>
                    <div>
                        <table class="table table-condensed table-hover">
                            <tr ng-repeat="priceElement in room.prices">
                                <td>
                            <span class="glyphicon glyphicon-user"
                                  ng-repeat="person in getArray(priceElement.people) track by $index">
                            </span>
                                </td>
                                <td>
                                    {$ priceElement.price $}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <a href="#/room-prices/{$ room.no $}" class="btn btn-default" role="button">
                        {$ 'landing_thumbnail_details' | translate $}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-sm-12 col-xs-12">
            <h1>{$ 'our_offerings' | translate $}</h1>

            <div ng-bind-html="what_we_offer"></div>
        </div>
        <div class="col-lg-4 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-12">
                    <h1>{$ 'landing_contact' | translate $}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <table class="table table-condensed">
                        <tr>
                            <td>
                                {$ 'contact_mobile' | translate $}
                            </td>
                            <td>
                                +48 571 441 422
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {$ 'contact_mail' | translate $}
                            </td>
                            <td>
                                <a href="mailto:{$contact$}">{$ contact $}</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {$ 'contact_address' | translate $}
                            </td>
                            <td>
                                Dąbrowskiego 5,
                                14-400 Pasłęk
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <a href="mailto:{$contact$}">
                                    <button class="btn btn-primary">
                                        {$ 'reservation' | translate $}
                                    </button>
                                </a>
                                <a href="https://goo.gl/maps/15zFPgQbdPn">
                                    <button class="btn btn-link">
                                        {$ 'localization' | translate $}
                                    </button>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>
