<div ng-controller="PricingController">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <ul class="nav nav-tabs">
                    <li class="nav-item active hidden-xs hidden-sm">
                        <a> {$ currentRoom.name $} </a>
                    </li>
                    <li role="presentation" class="dropdown navbar-right">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            Zobacz pokój <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item dropdown" ng-repeat="room in rooms">
                                <a class="dropdown-item"
                                   id="{$ room.no $}" href="" ng-click="selectRoom(room.no)">{$ room.name $}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Room view -->
        <div class="row">
            <div class="col-lg-10">
                <h2>{$ currentRoom.name $}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p>
                    {$ currentRoom.desc $}
                </p>
            </div>
            <div class="col-lg-6">
                <table class="table table-condensed">
                    <tr>
                        <th colspan="2">
                            Cena
                        </th>
                    </tr>
                    <tr ng-repeat="priceElement in currentRoom.prices">
                        <td>
                            <span class="glyphicon glyphicon-user" ng-repeat="person in getArray(priceElement.people) track by $index">
                            </span>
                        </td>
                        <td>
                            {$ priceElement.price $}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <div id="room-fotorama" class="fotorama"
                         data-allowfullscreen="true"
                         data-fit="scaledown"
                         data-loop="true"
                         data-auto="false">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
