<div class="container-fluid">

    <div class="row">
        <h1>{$ 'prices_prices' | translate $}</h1>

        <div class="col-md-10">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at imperdiet libero.
                Nunc id lectus eget sem placerat hendrerit. In rhoncus metus nec metus venenatis, et hendrerit ex
                rutrum. Etiam ultrices a mi sed tristique. Duis in dapibus diam. Mauris nisl erat, vestibulum sit amet
                sem finibus, porta venenatis erat. Quisque at libero tristique, posuere augue in, dignissim enim. Sed
                pharetra elementum nisl, non commodo leo bibendum nec. Nulla luctus augue non vehicula consequat. Etiam
                sed magna ac lorem aliquam eleifend.
            </p>
        </div>
    </div>
    <div class="row">
        <h2>{$ 'prices_availableRooms' | translate $}</h2>
        <div class="col-md-offset-1 col-md-10" ng-controller="PricingController">

            <div class="row" ng-repeat="room in rooms">
                <div class="row">
                    <div class="col-md-3">
                        Numer:
                    </div>
                    <div class="col-md-3">
                        {$ room.no $}:
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        Cena:
                    </div>
                    <div class="col-md-3">
                        {$ room.price $}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        Lokalizacja:
                    </div>
                    <div class="col-md-3">
                        {$ room.location $}:
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        Opis:
                    </div>
                    <div class="col-md-5">
                        <p>
                            {$ room.desc $}
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
