{% load staticfiles %}

<html ng-app="hostelPaslek">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <script src="{% static "web/js/libs/jquery-2.1.4.min.js" %}"></script>
    <script src="{% static "web/js/libs/bootstrap.min.js" %}"></script>
    <script src="{% static "web/js/libs/fotorama.js" %}"></script>
    <script src="{% static "web/js/libs/angular.min.js" %}"></script>
    <script src="{% static "web/js/libs/angular-route.min.js" %}"></script>
    <script src="{% static "web/js/libs/angular-resource.min.js" %}"></script>
    <script src="{% static "web/js/libs/angular-translate.min.js" %}"></script>
    <script src="{% static "web/js/libs/ap.fotorama.js" %}"></script>


    <script src="{% static "web/js/i18n/locale_en.js" %}"></script>
    <script src="{% static "web/js/i18n/locale_pl.js" %}"></script>
    <script src="{% static "web/js/services.js" %}"></script>
    <script src="{% static "web/js/controllers.js" %}"></script>
    <script src="{% static "web/js/app.js" %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static "web/css/bootstrap.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "web/css/fotorama.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "web/css/styles.css" %}"/>

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="MainController">
    <div class="container">
        <div class="navbar-header">
            <a href="#/landing-page" class="navbar-brand">Hostel Pasłęk</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul id="navbar-menu" class="nav navbar-nav" auto-active>
                <li id="news-feed-menu-item" class="active">
                    <a href="#/landing-page">
                        {$ 'navbar_mainPageNavLink' | translate $}
                    </a>
                </li>
                <li>
                    <a href="#/pricing">
                        {$ 'navbar_pricingNavLink' | translate $}
                    </a>
                </li>
                <li>
                    <a href="#/galery">
                        {$ 'navbar_galleryNavLink' | translate $}
                    </a>
                </li>
                <li>
                    <a href="#/contact">
                        {$ 'navbar_contactNavLink' | translate $}
                    </a>
                </li>
            </ul>
            <div class="lang-panel">
                <img ng-click="switchToPL()" src="{% static "web/img/polish_flag.png" %}"/>
                <img ng-click="switchToEN()" src="{% static "web/img/british_flag.png" %}"/>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid" ng-controller="MainController">
    <div class="col-lg-10 col-lg-offset-2 main main-content">
        <div ng-view></div>
    </div>
</div>
</body>
</html>
