{% load staticfiles %}

<html ng-app="hostelPaslek">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <script src="{% static "web/js/libs/jquery-2.1.4.min.js" %}"></script>
    <script src="{% static "web/js/libs/bootstrap.min.js" %}"></script>
    <script src="{% static "web/js/libs/fotorama.js" %}"></script>
    <script src="{% static "web/js/libs/angular.min.js" %}"></script>
    <script src="{% static "web/js/libs/angular-route.min.js" %}"></script>
    <script src="{% static "web/js/libs/angular-resource.min.js" %}"></script>
    <script src="{% static "web/js/libs/angular-translate.min.js" %}"></script>


    <script src="{% static "web/js/i18n/locale_en.js" %}"></script>
    <script src="{% static "web/js/i18n/locale_pl.js" %}"></script>
    <script src="{% static "web/js/services.js" %}"></script>
    <script src="{% static "web/js/controllers.js" %}"></script>
    <script src="{% static "web/js/app.js" %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static "web/css/bootstrap.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "web/css/fotorama.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "web/css/styles.css" %}"/>

</head>
<body>
<nav class="navbar navbar-inverse navbar-default navbar-fixed-top" ng-controller="MainController">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/landing-page">
                Hostel Pasłęk
            </a>
        </div>

        <div class="collapse navbar-collapse">
            <ul id="navbar" class="nav navbar-nav" auto-active>
                <li>
                    <a href="#/landing-page">
                        {$ 'navbar_mainPageNavLink' | translate $}
                    </a>
                </li>
                <li>
                    <a href="#/pricing">
                        {$ 'navbar_pricingNavLink' | translate $}
                    </a>
                </li>
                <li>
                    <a href="#/galery">
                        {$ 'navbar_galleryNavLink' | translate $}
                    </a>
                </li>
                <li>
                    <a href="#/contact">
                        {$ 'navbar_contactNavLink' | translate $}
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" id="langMenu" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="true">Switch language <span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="langMenu">
                        <li><a>
                            <img ng-click="switchToPL()" class="flag-icon"
                                 src="{% static "web/img/polish_flag.png" %}"/> Polish
                        </a></li>
                        <li><a>
                            <img ng-click="switchToEN()" class="flag-icon"
                                 src="{% static "web/img/british_flag.png" %}"/>English
                        </a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</nav>

<div class="container" ng-controller="MainController">
    <div class="col-lg-12 col-md-12 col-sm-12 main main-content">
        <div ng-view></div>
    </div>
</div>
</body>
</html>
