@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

.main {
    padding-top: 60px;
}

.header-title {
    color: whitesmoke;
    font-size: 30px;
}

.pub-date {
    font-size: 8px;
}

.landing-location-map {
    border: 0;
    width: 425px;
    height: 350px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

/* Flexible iFrame */

.flexible-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.flexible-container iframe,
.flexible-container object,
.flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
}

.pricing-fotorama {
    margin-bottom: 25px;
}

#sidebar-wrapper {
    padding-top: 20px;
    position: fixed;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/* Sidebar Styles */

.sidebar-nav {
    padding-left: 0;
    width: 250px;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    font-weight: bold;
    color: #e24b41;
    background-color: transparent;
}

.sidebar-nav li a:hover {
    font-weight: bolder;
    /*background: #eee;*/
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    /*color: #fff;*/
    /*background: #eee;*/
    font-weight: bolder;
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand a:hover {
    background: #eee;
}

@media (min-width: 768px) {
    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
        margin-left: -30px;
        height: 100%;
    }
}

.table-condensed {
    font-size: 14px
}

.flag-icon {
    width: 18px;
    height: 12px;
}

@media all and (max-width: 800px) {
    .navigation {
        justify-content: center;
    }
}

@media all and (max-width: 500px) {
    .navigation {
        flex-direction: column;
    }
}

@media all and (min-width: 750px) {
    .landing-pricing-table {
        height: 125px;
    }

    .landing-room-caption {
        height: 2em;
    }
}

.intro-header {
    background-color: #808080;
    background: no-repeat center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
    padding: 100px 0 50px;
    color: white;
}

@media only screen and (min-width: 768px) {
    .intro-header .site-heading,
    .intro-header .post-heading,
    .intro-header .page-heading {
        padding: 150px 0;
    }
}

@media only screen and (min-width: 768px) {
    .intro-header .site-heading h1,
    .intro-header .page-heading h1 {
        font-size: 80px;
    }
}

.intro-header .post-heading h1 {
    font-size: 35px;
}

.intro-header .post-heading .subheading,
.intro-header .post-heading .meta {
    line-height: 1.1;
    display: block;
}

.intro-header .post-heading .subheading {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 24px;
    margin: 10px 0 30px;
    font-weight: 600;
}

.intro-hidden {
    display: none;
}

.landing-padding {
    margin-top: -30px;
}

